/* tasksComponent's private CSS styles */
.tasks {
  list-style-type: none;
}
.tasks li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 44px;
  border-radius: 4px;
}
.tasks li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.tasks .text {
  position: relative;
  top: -3px;
}
.tasks .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 42px;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}
.tasks button {
  padding: 2px 6px;
}
.tasks .line-done {
  width: 100%;
  top: 5px;
  position: absolute;
  border-top: 2px solid black;
}
