<div class="text-center">
  <h2>My Tasks</h2>
  <a routerLink="/create">Add New Task</a>
  <ul class="tasks col-md-4 offset-md-4">
    <li *ngFor="let task of tasks">
      <input type="checkbox" (click)="check(task._id, task.done)" [(ngModel)]="task.done"/>
      <span class="badge">{{task.name}}</span>
      <button (click)="edit(task._id)" class="btn btn-warning">Edit</button>
      <button (click)="remove(task._id)" class="btn btn-danger">Remove</button>
      <hr *ngIf="task.done" class="line-done">
    </li>
  </ul>
  <div *ngIf="!tasks || !tasks.length">
    There's no tasks. Please add some
  </div>
</div>
