<div class="text-center">
  <h2>{{title}}</h2>
  <a routerLink="/dashboard">All tasks</a>
  <form class="col-md-4 offset-md-4" (ngSubmit)="save()" #taskForm="ngForm">
    <div class="form-group row" *ngIf="edit">
      <label class="col-sm-3 col-form-label">done:</label>
      <div class="col-sm-9">
        <input type="checkbox" class="form-control" name="checkbox" [(ngModel)]="task.done"/>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">name:</label>
      <div class="col-sm-9">
        <input name="name" class="form-control" [(ngModel)]="task.name" required/>
    </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">description:</label>
      <div class="col-sm-9">
        <textarea name="description" class="form-control" [(ngModel)]="task.description" required></textarea>
      </div>
    </div>
    <div class="form-group row">
      <button type="submit" class="btn btn-success" [disabled]="!taskForm.form.valid">Save</button>
    </div>
  </form>
</div>
